@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');

*{
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #FBFBFB;
}

.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.large-box{
    width: 1540px;
    height: 40px;
    background-color: #17C3B2;
}

.circle{
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    border: 3px solid #FBFBFB;
    margin-left: 1470px;
}

.box{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 550px;
    height: 695px;
    background: #FBFBFB;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-professor{
    display: block;
    margin-top: 15px;
    margin-right: 190px;
    font-weight: 700;
    font-size: 30px;
    color: #4B4B4B;
}

.cadastro-boxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cadastro-boxes-nb{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-nb{
    display: flex;
    flex-direction: column;
}

.input-nb label{
    font-weight: 600;
    font-size: 20px;
    color: #4B4B4B;
}

.input-nb input{
    outline: none;
    width: 200px;
    height: 50px;
    font-weight: 300;
    font-size: 20px;
    padding-left: 20px;
    color: #4B4B4B;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    margin-bottom: 10px; 
}

.gender-title{
    font-weight: 600;
    font-size: 20px;
    color: #4B4B4B;
}

.gender-group{
    display: flex;
    justify-content: space-between;
}

.gender-inputs{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #4B4B4B;
}

.gender-input-box input{
    outline: none;
    height: 30px;
    font-weight: 300;
    font-size: 15px;
    padding-left: 10px;
    color: #4B4B4B;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}

.cadastro-boxes label{
    font-weight: 600;
    font-size: 20px;
    color: #4B4B4B;
}

.cadastro-boxes input{
    outline: none;
    width: 480px;
    height: 50px;
    font-weight: 200;
    font-size: 20px;
    color: #4B4B4B;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 20px;
}

.cadastrar-button{
    background-color: #17C3B2;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 480px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    color: #FBFBFB;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

