@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');

*{
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #FBFBFB;
}

.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.logo h1{
    font-weight: 700;
    font-size: 48px;
    color: #4B4B4B;
}

.vertical-line-1{
    height: 120px;
    border-right: 1px solid rgba(0, 0, 0, 0.500);
    padding-left: 88px;
}

.main-header h2{
    font-weight: 600;
    font-size: 36px;
    color: #4B4B4B;
    padding-right: 577px;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 3.5px solid #4B4B4B;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}

.user p{
    margin-left: 20px;
    font-weight: 600;
    font-size: 24px;
    color: #4B4B4B;
}

.horizontal-line{
    width: 1519px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transform: rotate(0deg);
}

.main-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.content-2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-2 h2{
    font-weight: 600;
    font-size: 30px;
    color: #4B4B4B
}

.box{
    width: 900px;
    height: 500px;
    background: #FBFBFB;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.box-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 100px;
    padding-bottom: 0px;
}

.vertical-line-2{
    height: 639px;
    border-right: 1px solid rgba(0, 0, 0, 0.500);
}

.menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
}

.menu-item img{
    width: 30px;
    height: 30px;
}

.menu-item a{
    font-weight: 600;
    font-size: 25px;
    color: #4B4B4B;
    padding-left: 10px;
    padding-top: 2px;
}
