@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');

*{
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #FBFBFB;
}

.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.large-box{
    width: 1540px;
    height: 40px;
    background-color: #17C3B2;
}

.circle{
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    border: 3px solid #FBFBFB;
    margin-left: 1470px;
}

.box{
    display: block;
    margin: 0 auto;
    margin-top: 130px;
    width: 450px;
    height: 450px;
    background: #FBFBFB;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.remove-disciplina{
    display: block;
    margin-top: 50px;
    margin-right: 36px;
    font-weight: 700;
    font-size: 32px;
    color: #4B4B4B;
}

.remove-boxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.remove-boxes label{
    font-weight: 600;
    font-size: 20px;
    color: #4B4B4B;
}

.remove-boxes input{
    outline: none;
    width: 350px;
    height: 60px;
    font-weight: 200;
    font-size: 20px;
    color: #4B4B4B;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.55);
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.remove-button{
    background-color: #17C3B2;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 350px;
    height: 60px;
    font-weight: 700;
    font-size: 26px;
    color: #FBFBFB;
    border: none;
    cursor: pointer;
}

